<%= form_with(model: check_list, local: true) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: check_list} %>

  <div class="actions btn">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>

  <%= form.fields_for :answers do |answer_form| %>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="row col-xs-5">
            <%= answer_form.object.title %><br>
            <%= answer_form.object.description %>
          </div>
          <div class="row col-xs-2">
            <%= answer_form.select :response, Answer.responses.map { |key, value| [key.humanize, key] } %>
          </div>
          <div class="row col-xs-5">
            <%= answer_form.text_area :comment %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
