<%= form_with(model: check_list, local: true) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: check_list} %>

  <div class="actions btn">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>

  <%= form.fields_for :answers do |answer_form| %>
    <div class="card">
      <div class="card-body">
        <%= answer_form.object.title %><br>
        <%= answer_form.object.description %>
        <%= answer_form.select :response, Answer.responses.map { |key, value| [key.humanize, key] } %>
        <%= answer_form.text_area :comment %>
      </div>
    </div>
  <% end %>
<% end %>
