<p id="notice"><%= notice %></p>

<h1>Check Lists</h1>

  <button type="button" class="btn btn-primary" id="checklist-button">Fill checklist</button>

  <div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Project</th>
        <th scope="col">Checklist</th>
        <th scope="col">Updated</th>
        <th scope="col">Questions</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
        <% @check_lists.each do |check_list| %>
          <tr>
            <td><%= check_list.project_uid %></td>
            <td><%= check_list.title %></td>
            <td><%= check_list.updated_at %></td>
            <td><%= check_list.form_questions %></td>
            <td><%= link_to 'Fillin', edit_check_list_path(check_list) %><br>
                <%= link_to 'Delete', check_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>



<%= form_with(model: @check_list, local: true) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: @check_list} %>

  <div id="checklist-form">
  <div class="form-group">
    <%= form.label :project_uid %>
    <%= form.text_field :project_uid, autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label 'Select checklist to fill' %>
    <%= form.select :form_id, @forms.map { |f| [f.title, f.id] } %><br>
    <%= form.submit %>
    </div>
  </div>

<% end %>

<br>
