<h1>Check Lists</h1>

<button type="button" class="btn btn-primary" id="checklist-button">Fill checklist</button>

<div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Checklist</th>
      <th scope="col">Updated</th>
      <th scope="col">Questions</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <% @check_lists.each do |check_list| %>
        <tr>
          <td><%= check_list.project_uid %></td>
          <td><%= check_list.title %></td>
          <td><%= check_list.updated_at.strftime('%d.%m.%Y') %></td>
          <td>
            <% p = percents_of_answers(check_list) %>
            <div style="width: 100%">
              <div class="bg-secondary color-strip" style="width: <%= p[:absent] %>%;"></div>
              <div class="color-strip" style="width: <%= p[:na] %>%; background-color: purple"></div>
              <div class="bg-success color-strip" style="width: <%= p[:yes] %>%;"></div>
              <div class="bg-danger color-strip" style="width: <%= p[:no] %>%;"></div>
            </div>
          </td>
          <td>
            <%= link_to 'Edit', edit_check_list_path(check_list), class: 'block-link' %>
            <%= link_to 'Delete', check_list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'block-link' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'fill_check_list', check_list: @check_list %>
