<%= form_with(model: [form_question.form, form_question], local: true) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: form_question} %>

  <div class="form-group">
    <%= form.label :title %><br />
    <%= form.text_field :title, autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </div>

  <%= form.hidden_field :form_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>