<%= form_with(model: [form_question.form, form_question], local: true) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: form_question} %>

  <div class="form-group">
    <%= form.text_field :title, class: 'form-control col-md-8 mb-3 border', type: 'text', placeholder: 'Question text?' %>
  </div>

  <div class="form-group">
    <%= form.text_area :description, class: 'form-control col-md-10 border', type: 'text', placeholder: 'Question detailed description' %>
  </div>

  <%= form.hidden_field :form_id %>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary list-button' %>
  </div>
<% end %>
