<%= form_with(model: form, local: true) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: @form} %>

  <div class="container">
    <div class="actions list-button">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
    <div class="row">
      <div class="col-md-5 offset-md-3 mb-3">
        <%= form.text_field :title, class: 'form-control form-control-lg placeholder', type: 'text', placeholder: 'Form title' %>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-8 offset-md-2 mb-3">
        <%= form.text_field :description, class: 'form-control', type: 'text', placeholder: 'Form detailed description'%>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= form.fields_for :form_questions do |form_question| %>
          <%= render 'form_question_fields', f: form_question %>
        <% end %>
      </div>
    </div>
    <div class="btn form-button">
      <%= link_to_add_association '', form, :form_questions, class: 'fa fa-plus-circle fa-lg', data: { association_insertion_method: :append } %>
    </div>
  </div>
<% end %>
