<p id="notice"><%= notice %></p>

<h1>Forms</h1>

<table>
  <tbody>
  <tr>
    <% @forms.each do |form| %>
      <td><%= form.title %></td>
        <td><%= link_to 'Show', form_path %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
    <% end %>
  </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Form', new_form_path %>
