<h1>Forms</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
    <tbody>
       <% @forms.each do |form| %>
        <tr>
          <td><%= form.title %></td>
          <td><%= form.description %></td>
          <td><%= link_to 'Show', form_path(form) %><br>
            <% if policy(@form).update? %>
              <%= link_to 'Edit', edit_form_path(form) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
<% if policy(@form).create? %>
  <%= link_to 'New Form', new_form_path, class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Add CheckList', check_lists_path, class: 'btn btn-primary'  %>
