<h1>Forms</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Status</th>
    <th scope="col">Published</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
    <tbody>
       <% @forms.each do |form| %>
        <tr>
          <td><%= form.title %></td>
          <td><%= form.description %></td>
          <td><%= form_status_text(form) %></td>
          <td><%= form_published_text(form) %></td>
          <td>
            <%= link_to 'Show', form_path(form), class: 'block-link' if policy(form).show? %>
            <%= link_to 'Publish', publish_form_path(form), method: :put, class: 'block-link' if policy(form).publish?  %>
            <%= link_to 'Edit', edit_form_path(form), class: 'block-link' if policy(form).edit?  %>
            <%= link_to 'Delete', form, method: :delete, data: { confirm: 'Are you sure?' }, class: 'block-link' if policy(form).destroy? %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
  <%= link_to 'New Form', new_form_path, class: 'btn btn-primary' %>
<%= link_to 'Add CheckList', check_lists_path, class: 'btn btn-primary'  %>
