<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <% @form.form_questions.each do |q| %>
        <td><%= q.title %></td>
        <td><%= q.description %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
